
/* google-font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* nav-part */

header{
    display: block;
    width: 100%;
    background-color: rgb(97 97 97);
}

.navBar{
    height: 64px;
    margin-left: 50px;
}

.navBar ul li {
    display: inline-block;
    padding: 26px 5px;
    margin-left: 20px;
}

.navBar ul li a{
    color: rgb(248, 246, 246);
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

.icon{
    float: right;
    margin-right: 150px;
}

.icon-style{
    padding: 14px;
    background-color: rgb(30, 30, 32);
    text-align: center;
    color: seashell;
    font-size: 15px;
    margin-right: 15px;
    border-radius: 60%;
    cursor: pointer;
    margin-top: 12px;
    font-weight: bold;

}

.icon-style:first-child:hover{
    color:rgb(135, 7, 255);
}

.icon-style:nth-child(2):hover{
    color: rgb(0, 102, 255);
}
.icon-style:nth-child(3):hover{
    color: rgb(245, 14, 84);
}

/* hero-part */

article{
    margin-top: 5px;
}


.hero-part{
    display: block;
    height: 600px;
    margin-top: 10px;
}

.hero-data{
    float: right;
    display: block;
    width: 24%;
    height: 600px;
    margin-right: 13px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    box-shadow: 10px 3px 11px #25252562;
    border-radius: 5px;
    border: 0px;
}

.hero-data h1 {
    font-size:40px;
    text-transform: uppercase;
    position: absolute;
    bottom: 60px;
    left: 15px;
    right: 15px;
    background-color: rgba(5, 99, 99, 0.877);
    padding:20px;
    font-weight: bold;
}

.hero-data h1 a{
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    word-spacing: 2px;
}

.hero-data::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 14, 14, 0.61);
    z-index: -1;
    opacity: 0.6;
    
}

.hero-data p{
    z-index: 22;
}

.hero-data:first-child {
    background-image: url(./images/food.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}

.hero-data:nth-child(2) {
    background-image: url(./images/programming.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}

.hero-data:nth-child(3) {
    background-image: url(./images/game.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-data:nth-child(4) {
    background-image: url(./images/football.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* post-area */
.post-part{
    margin-top: 50px;
}
.post-area{
    width: 65%;
    display: inline-block;
}

.post-data{
    float: right;
    width: 40%;
    height: 500px;
    display: block;
    overflow: hidden;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: -1px -1px 11px #25252562;
}
.post-data img{
    width: 100%;
    height: 300px;
}

.post-data h6 {
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 10px;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: rgb(255, 102, 0);
}

.post-data p{
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17px;

}

.post-data .btn{
    margin-top: 20px;
    margin-left: 10px;
}

.btn{
    width: 150px;
    height: 50px;
    background-color: rgb(233, 230, 230);
    text-align: center;
    line-height: 50px;
    padding-left: 10px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}
/* about-area */
.about-area{
    width: 35%;
    float: right;
    margin-top: 10px;
}
.profile-data{
    width:80%;
    margin-left:20px;
}

.profile-data{
    padding: 20px;
    text-align: center;
    box-shadow: -1px -1px 11px #25252556;
}

.profile-data h1{
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}

.profile-data h2{
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-data p{
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

/* all category */

.category-data{
    padding: 20px;
    box-shadow: -1px -1px 11px #25252556;
    width: 80%;
    margin-left: 20px;
    margin-top: 50px;
}

.category-data h5 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(255, 102, 0);
}


.category-data ul li{
    list-style: none;
    padding-top:20px ;
}

.category-data ul li a {
    color: rgb(36, 35, 35);
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    list-style: none;
    
    
}



/* form-area */

.form-area{
    margin-left: 20px;
    box-shadow: -1px -1px 11px #25252556;
    width: 80%;
    padding: 10px;
    margin-top: 50px;
}


input[type ='text']{
    width: 80%;
    height: 20px;
    border-radius:5px;
    padding: 20px;
    margin: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}
textarea{
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    width: 80%;
}

form button{
    width: 100px;
    height: 40px;
    margin-left: 15px;
}
/* footer-area */
footer{
    margin-top: 20px;
    height: 300px;
    background-color: rgb(35, 35, 36);
}

.personal-info{
    display: block;
    float: left;
    width: 30%;
    color: cornsilk;
    margin-left: 40px;
    padding: 50px;
}

.personal-info h1 {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
}


.personal-info h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding-top: 10px;
}

.personal-info p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    padding-top: 10px;
}

.personal-info span{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 102, 0);
}


.personal-post{
    display: block;
    float: left;
    width: 30%;
    color: cornsilk;
    margin-left: 40px;
    padding: 50px;

}

.personal-post ul li {
    list-style: none;
    margin-top: 20px;
}

.personal-post ul li a{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 102, 0);
    text-decoration: none;
    text-transform: uppercase;
   
}

.personal-post h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

/* copy write  */

.copy{
    
    height: 50px;
    background: rgb(249, 253, 5);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}